@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

/* Formatting Resets */

:root {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;

  /* Color Variables */
  --50: #f8fafc;
  --100: #f1f5f9;
  --200: #e2e8f0;
  --300: #cbd5e1;
  --400: #94a3b8;
  --500: #64748b;
  --600: #475569;
  --700: #334155;
  --800: #1e293b;
  --900: #0f172a;
  /* --50: #ecfeff;
  --100: #cffafe;
  --200: #a5f3fc;
  --300: #67e8f9;
  --400: #22d3ee;
  --500: #06b6d4;
  --600: #0891b2;
  --700: #0e7490;
  --800: #155e75;
  --900: #164e63; */
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input {
  appearance: none;
  border: none;
}

/* Coloring */

body {
  background-color: var(--300);
}

.sidebar {
  background-color: var(--900);
}

.sidebar > *,
.sidebar > svg {
  color: var(--50);
}

header {
  background-color: var(--100);
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

.card {
  background-color: var(--100);
}
h4,
h6,
div,
.card-icons > svg,
p {
  color: var(--900);
}

.main-side-card {
  background-color: var(--100);
}

.account-section > * {
  color: var(--900);
}

.search-section > * {
  color: var(--900);
}

/* Hidden  */

.hidden {
  visibility: hidden;
}

/* Layout Formatting */

.container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* grid-template-rows: 90px; */
  align-content: start;
  padding: 1.5rem 0.1rem;
  row-gap: 1rem;
}

.sidebar-icon,
.sidebar-label {
  display: grid;
  align-items: center;
}

.sidebar-icon:hover,
.sidebar-label:hover {
  cursor: pointer;
  color: var(--300);
}

.sidebar-label {
  font-size: 1.1rem;
}

.sidebar-label.sidebar-main {
  font-size: 1.5rem;
}

div > svg {
  display: grid;
  justify-self: center;
}

header {
  grid-row: 1 / 2;
}

svg {
  width: 35%;
}

div .main {
  width: 55%;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2rem 1.5rem;
  gap: 1rem;
}

.projects-container {
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  /* align-content: start; */
  gap: 10px;
}

.projects-container > h4 {
  align-self: start;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
}

.card-container {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card {
  min-height: 130px;
  border-radius: 0.5rem;
  border-left: 0.5rem solid var(--900);
  padding: 1rem;
  display: grid;
  /* align-content: start; */
  gap: 10px;
}

.card-title {
  font-size: 0.9rem;
  font-weight: 700;
}

.card-text {
  font-size: 0.8rem;
  font-weight: 300;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.card-icons > svg {
  width: 1em;
  height: auto;
}

.card-icons > svg:hover {
  cursor: pointer;
  opacity: .7;
}

.main-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-side-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-side-card {
  flex: 1;
  border-radius: 0.5rem;
  padding: 2rem;
  display: grid;
}

.side-card-title {
  font-size: 0.8rem;
  font-weight: 700;
}

.side-card-text {
  font-size: 0.7rem;
  font-weight: 300;
}

.line {
  border-bottom: 1px solid var(--300);
  padding-bottom: 0.6rem;
  margin-bottom: 0.6rem;
}

.social-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0.5rem 0.5rem 0.5rem 0;
  align-items: center;
}

.social-card > svg {
  width: 50%;
}

.social-card > div {
  display: grid;
}

.social-card > div > p {
  font-size: 0.6rem;
}

.username {
  font-weight: 600;
  margin-bottom: 2px;
}

.user-description {
  font-weight: 300;
}

header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 0.5rem 2rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.header > div > svg {
  width: 1.5rem;
}

.header > div > svg:hover {
  cursor: pointer;
  opacity: .8;
}

.header > div > .profile-picture {
  width: 2.4rem;
  margin-left: 1.2rem;
}

.search-section {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.search-bar {
  flex: 1;
  border-radius: 1rem;
  background-color: var(--300);
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.5) inset;
  padding: 0 1rem;
  height: 2rem;
  border: none;
}

input[type="search"]:focus {
  outline: none;
  border: 2px solid var(--400);
  color: var(--900);
  font-size: .9rem;
  font-weight: 600;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.1em;
  width: 1.1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

.account-section {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.account-name {
  font-size: 1.1rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > div {
  display: flex;
  align-items: center;
}

nav > div > svg {
  width: 3rem;
}

.nav-social {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-social > div > h3 {
  color: var(--900);
  font-size: 1.2rem;
}

.header-text {
  font-size: 0.7rem;
  color: var(--900);
}

.buttons {
  gap: 1rem;
}

button {
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--700);
  color: var(--100);
  font-size: 0.8rem;
  font-weight: 700;
}

button:hover {
  background-color: var(--800);
  cursor: pointer;
}

.hover:hover {
  cursor: pointer;
  opacity: .7;
}
